body {
  background-color: aliceblue;
}

input {
  width: 70%;
}

#filter {
  display: block;
  margin-bottom: 10px;
}

p {
  color: darkcyan;
}

#gyou1 {
  display: flex;
  flex-wrap: wrap;
}


img {
  width: 200px;
  /*height: 50%;*/
  display: inline-block;
}

#block1 {
  margin: 30px;
  display: inline-block;
}

#block2 {
  margin: 30px;
  display: inline-block;
}

#block3 {
  margin: 30px;
  display: inline-block;
}

#block4 {
  margin: 30px;
  display: inline-block;
}

/*!importantがないと優先度が負けて普通に表示される*/
.hide {
  display: none !important;
  /*background-color: grey;*/
}

.test {
  background-color: pink;
}